{% extends "sidebar.html" %}

{% block content %}
    <div class="container">
        <h1>IoT Devices</h1>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>Manufacturer</th>
                </tr>
            </thead>
            <tbody id="device-list">
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $.getJSON('/devices', function(data) {
                console.log("Fetched device data:", data);
                var rows = '';
                data.forEach(function(device) {
                    rows += '<tr><td><a href="/device/' + device.ip_address + '">' + device.ip_address + '</a></td><td>' + device.mac_address + '</td><td>' + device.manufacturer + '</td></tr>';
                });
                $('#device-list').html(rows);
            });
        });
    </script>
{% endblock %}
